<form class="row g-3" [formGroup]="form" (submit)="onSubmit($event)">
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email"formControlName="email"  class="form-control" id="inputEmail" placeholder="your email">
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" id="inputPassword4" placeholder="your password">
    </div>
    <div class="col-12">
      <p class="text-danger">{{message}}</p>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>